.container {
  position: relative;
  width: 1280px;
  height: 720px;
  background-image: url('./assets/world/background01.png');
  background-size: cover;
}

.loading {
  font-size: 64px;
  position: absolute;
  top: 60%;
  left: 40%;
}

.front,
.mid,
.wall,
.back {
  position: absolute;
  top: 0px;
  left: 0px;
}

.front {
  z-index: 4;
}

.mid {
  z-index: 3;
}

.wall {
  z-index: 2;
}

.back {
  z-index: 1;
}
