.container {
  position: relative;
  width: 1280px;
  height: 720px;
  background-image: url('./assets/world/background01.png');
  background-size: cover;
}

.front,
.mid,
.back {
  position: absolute;
  top: 0px;
  left: 0px;
}

.front {
  z-index: 4;
}

.mid {
  z-index: 3;
}

.back1 {
  z-index: 2;
}

.back2 {
  z-index: 1;
}
